.abstactdoctor {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  margin-bottom: 5px;
  text-align: left;

}

.propic {
  margin: 10px;
}

.ratingarea {
  margin: auto;
}