.abstactdoctor {
  display: flex;
  flex-direction: row;
  width:90%;
  justify-content: space-around;
  background-color: rgb(247, 253, 255);
  margin: 0.5rem auto;
  border-radius: 8px;
  border-color: white;
  color: #008cba;
  align-items: center;
  background-color: turquoise;
}

.propic {
  margin: 10px;
  border-radius: 10px;
}

.ratingarea {
  margin: auto;
}

.doctorPic {
  border-radius: 20px;
}