.calendarbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.calandarrow {
  display: flex;
  flex-direction: row;
}

.timeslots {
  display: flex;
  flex-direction: row;
}