.calendarbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

.calandarrow {
  display: flex;
  flex-direction: row;
}

.timeslots {
  display: flex;
  flex-direction: row;
}