.doctorInfo {
  /* border-style: solid; */
  /* border-color: rgb(0, 204, 255); */
}

.infotoparea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.starratingarea {
  display: flex;
}

.break {
  flex-basis: 100%;
  height: 0rem;
}

.bigreak {
  flex-basis: 100%;
  height: 1.5rem;
}
